@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #F0F2F6;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.landing-page{
  position: relative;
  width: 88%;
  float: right;
}

input.form-control {
  height: 100%;
  width: 20%;
  border: none;
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 0 4px 0px #000;
}

.input-group{
  justify-content: center;
  text-align: center;
}

.searched .input-group {
  justify-content: right;
  text-align: right;
  padding: 10px;
}

.label{
  color: #fff;
  text-align: center;
  top: 50%;
}

.artist {
  transition: all 0.4s ease;
  text-align: center;
  color: #fff;
  min-height: 50vh;
  display: flex;
}

img.artist-image {
  max-height: 20rem;
  margin: 10px;
  border-radius: 5px;
}

img.bg-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

#bg-image{
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

.main-bg {
  width: 100%;
  height: 65vh;
}

.artist-img{
  flex: 1;
}

.artist-details{
  flex: 1;
  justify-content: left;
  text-align: left;
}

.safe-tracks, .unsafe-tracks{
  flex-wrap: wrap;
}

.track{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  min-width: 25%;
  margin: 20px 40px;
  background: #fff;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.4s ease;
  box-shadow: 0px 1px 6px 0px #e2e2e2;
}

.track:hover{
  background: #3D8CE7;
  cursor: pointer;
}

.album-cover {
  flex: 1 1;
  max-width: 65px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.track-label {
  flex: 1 1;
  text-align: left;
  margin: 0px 10px 10px 40px;
}

.lowkey-track-label {
  color: #d0d0d0;
  margin: 0px 10px 10px 40px;
}

.top-track-name {
  flex: 15;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
}

.sidebar {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.us-img{
  display: flex;
}

img.user-image {
  border-radius: 100%;
  max-width: 50%;
  text-align: center;
  flex: 1;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 20px 12px #e2e2e2;
  margin-top: 40px;
  margin-bottom: 10px;
}

.user-panel{
  background: #F0F2F6;
  border-radius: 10px;
  min-height: 1rem;
  padding: 13px;
  margin: 8px 8px;
  box-shadow: -1px 7px 11px 0px #dcdcdc;
  transition: all 0.4s ease;
}

.user-panel:hover{
  cursor: pointer;
  background: #3D8CE7;
}

p.top-track-duration {
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
}

.lowkey-label {
  color: #d0d0d0;
  margin: 10px;
}

.unsafe-tracks .track {
  border-right: 5px solid #da2d2d;
}

.safe-tracks .track {
  border-right: 5px solid #a7e9af;
}

.searchBox {
  position: absolute;
  top: 0%;
  right: 2%;
  transform: translate(-5%,35%);
  background: #dcdcdc;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  color: #333;
}

.searchInput:focus {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
  cursor: pointer;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #333;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 50px;
  border-radius: 40px;
}



@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.landing-button {
  display: flex;
  position: relative;
  top: 60%;
}

.landing-logo {
  text-align: center;
  position: relative;
  top: 20%;
}

.home-page{
  height: 100vh;
  background-image: url('./bg.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.spotify-default{
  color: #1DB954;
}

#logo-label{
  text-transform: uppercase;
}

#sub-text{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 0;
}

button.def-btn {
  border: none;
  background: #1DB954;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  border-radius: 25px;
  width: 15rem;
  color: #fff;
  transition: all 0.4s ease;
  cursor: pointer;
  margin: 0 auto;
}

button.def-btn:hover {
  background: #1ED760;
}

button a {
  text-decoration: none;
  color: inherit;
}

button.sign-out {
  flex: 1;
  background: #F0F2F6;
  border-radius: 10px;
  min-height: 1rem;
  padding: 13px;
  margin: 8px 8px;
  box-shadow: -1px 7px 11px 0px #dcdcdc;
  transition: all 0.4s ease;
  border: none;
  width: 92%;
  font-family: 'montserrat';
  font-size: 1rem;
}

button.sign-out:hover{
  cursor: pointer;
  background: #da2d2d;
}

.welcome {
  text-align: center;
  position: relative;
  margin: 15px;
}

h1#disclaimer {
  margin-top: 200px;
  text-transform: uppercase;
}

#disclaimer-btn {
  margin-top: 10vh;
}

img.disclaimer-image {
  max-height: 100px;
}

@media only screen and (min-width: 768px){
  h1#disclaimer{
    margin-bottom: 100px;
  }
  .disclaimer-image{
    margin-bottom: 50px;
  }
}